.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #021f0e;
    padding: 35px 40px;
    width: 100%;
    position: fixed;
    top: 0;
}

.link{
    border: none;
    font-family: 'Century Gothic', sans-serif;
    background-color: transparent;
    color: rgb(109, 163, 109);
    padding-right: 60px;
    font-weight: bold;
    font-size: 16px;
    transition: transform 0.3s ease-in-out;
}

.link:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.prof{
    position: absolute;
    right: 10%;
    top: 30%;
    transition: transform 0.3s ease-in-out;
}

.prof:hover{
    transform: scale(1.05);
    cursor: pointer;
}